<?xml version="1.0" encoding="UTF-8"?>
<?define projectName= "AutoProxySwitcher"?>
<?define author= "Christophe LEITIENNE"?>
<!--<?define version= "1.0.13.0"?>-->
<?define productCode= "*"?> <!-- changes with each version -->
<?define upgradeCode= "{728F0A1C-9210-4661-99CD-F5644F01ABBB}"?> <!-- doesn't change -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="$(var.productCode)" Name="$(var.projectName) $(var.version)" Language="1033" Version="$(var.version)" Manufacturer="$(var.author)" UpgradeCode="$(var.upgradeCode)">
		<Package InstallerVersion="300" Compressed="yes" />

    <!-- Force close previous version -->
    <util:CloseApplication Id="CloseApplication" 
                  CloseMessage="yes"
                  Target="AutoProxySwitcher.exe" />

    <!-- Detect previous versions -->
    <Upgrade Id="$(var.upgradeCode)">
      <UpgradeVersion Minimum="1.0.0"
                      IncludeMinimum="yes"
                      Maximum="$(var.version)"
                      Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <!-- Detect newest version already installed -->
    <Upgrade Id="$(var.upgradeCode)">
      <UpgradeVersion Minimum="$(var.version)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Property="NEWERVERSIONDETECTED" />
    </Upgrade>

    <!-- Media -->
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- Install directory tree and shorcuts -->
    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.projectName)">
          <Directory Id="SAMPLELOCATION" Name="Examples" />
        </Directory>
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.projectName)"/>
      </Directory>
      <Directory Id="StartupFolder">
      </Directory>
      <Directory Id="CommonAppDataFolder" Name="AppDataFolder">
        <Directory Id="MyAppFolder" Name="$(var.projectName)" />
      </Directory>
    </Directory>

    <DirectoryRef Id="MyAppFolder">
      <Component Id="MyAppFolderId" Guid="{BB791787-4632-45C0-88C0-E3FABCC502CE}">
        <CreateFolder />
        <File Id="rules.xml" Source="$(var.AutoProxySwitcher.TargetDir)Examples\rules.xml"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="ProductComponent" Guid="{FF34DE0B-7842-4d7b-B68A-102F294318C2}">
        <File Id="AutoProxySwitcher.exe" Source="$(var.AutoProxySwitcher.TargetPath)" KeyPath="yes"/>
        <File Id="AutoProxySwitcher.exe.config" Source="$(var.AutoProxySwitcher.TargetDir)AutoProxySwitcher.exe.config"/>
        <File Id="AutoProxySwitcherLib.dll" Source="$(var.AutoProxySwitcher.TargetDir)AutoProxySwitcherLib.dll"/>
        <File Id="SystemProxy.dll" Source="$(var.AutoProxySwitcher.TargetDir)SystemProxy.dll"/>
        <File Id="msvcr110.dll" Source="C:\Program Files (x86)\Microsoft Visual Studio 11.0\VC\redist\x86\Microsoft.VC110.CRT\msvcr110.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SAMPLELOCATION">
      <Component Id="SampleFiles" Guid="{49162DE1-3F5D-421D-A327-04ACD3AF1332}">
        <File Id="sample_rules.xml" Source="$(var.AutoProxySwitcher.TargetDir)Examples\rules.xml"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{73D85242-781E-4dc3-BD2C-01A9204C20CD}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.projectName)"
                  Description="$(var.projectName)"
                  Target="[INSTALLLOCATION]AutoProxySwitcher.exe"
                  WorkingDirectory="INSTALLLOCATION"/>
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall $(var.projectName)"
                  Description="Uninstalls $(var.projectName)"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.author)\$(var.projectName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Auto-start -->
    <DirectoryRef Id="StartupFolder">
      <Component Id="ApplicationAutostart" Guid="{2E8C6CC7-6679-4639-BDAF-8107623F446C}">
        <Shortcut Id="ApplicationStartupShortcut"
                  Name="$(var.projectName)"
                  Description="$(var.projectName)"
                  Target="[INSTALLLOCATION]AutoProxySwitcher.exe"
                  WorkingDirectory="INSTALLLOCATION" />
        <Condition>AUTOSTART</Condition>
        <RegistryValue Root="HKCU" Key="Software\$(var.author)\$(var.projectName)" Name="autostartinstalled" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Features -->
    <Feature Id="ProductFeature" Title="$(var.projectName)" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="SampleFiles" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationAutostart" />
      <ComponentRef Id="MyAppFolderId" />
    </Feature>

    <!-- UI: let user choose install dir, let user decide if he wants to launch application at end of install -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <!-- Remove previous version -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"/>
    </InstallExecuteSequence>

    <!-- Avoid installing over newer version -->
    <Condition Message="A later version of [ProductName] is already installed. Setup will now exit.">
      NOT NEWERVERSIONDETECTED OR Installed
    </Condition>

    <!-- Property containing install location choosed by user -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

    <!-- Property containing launch app checkbox status -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.projectName)" />

    <Property Id="WixShellExecTarget" Value="[#AutoProxySwitcher.exe]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />

    <!-- Property containing autostart flag -->
    <Property Id="AUTOSTART">1</Property>

  </Product>
</Wix>
